body{
        margin: 0;
}

.top-container{
        display:flex;
}

.dashboard{
        display: flex;
        flex-direction: column;
        width: 18vw;
        background-color: deepskyblue;
        color:whitesmoke;
        align-items: center;  
}

i:hover{
        color:black;
}


.dashboard > :nth-child(3){
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 20px;
       font-size: 23px; 
       padding-bottom: 20px;   
}

.dashboard > :nth-child(5){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        font-size: 23px;
}

.dashboard > :first-child{
        font-size: 25px;
        padding-bottom: 20px;
}

.content-container{
        display: flex;
        flex-direction: column;
}

.content-container > .header-container{
        display:inline-grid;
        grid-template: repeat(3,50px) / repeat(8,100px);
        padding-left: 20px;
        width: 1000px;
        box-shadow: 4px 2px 5px black;
        padding-bottom: 20px;
        
}

.search{
        grid-column-start: 1;
        grid-column-end: 5;
        padding-top: 20px;
}

input{
        width:370px;
        height: 25px;
        background-color:silver;
        border-radius: 10px;
        border: azure;
}

.image-name{
        display: flex;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        column-gap: 15px;
        padding-top: 12px;
}

.bell-name{
        display:flex;
        grid-column-start: 6;
        grid-column-end: 9;
        padding-top:20px;
        column-gap: 20px;

}

.buttons{
        display: flex;
        grid-row-start: 3;
        grid-column-start: 6;
        grid-column-end: 9;
        column-gap: 18px;
}

img{
        border-radius: 15px;
}

button{
        background-color: deepskyblue;
        color:snow;
        border-radius: 18px;
        width: 100px;
        border-color: white;
}

button:hover{
        background-color: darkolivegreen;

}

.main-container{
        background-color:silver;
        margin-top: 20px;
        display: flex;
        padding-left: 20px;
}

legend{
        padding-top: 8px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
}

.mainOne, .mainTwo, .mainThree{
        display: flex;
        flex-direction: column;
}

.mainOne > :nth-child(2){
        padding-left: 10px;
        width: 250px;
        background-color:whitesmoke;
        border-left: solid yellow 6px;
        border-radius: 15px;
}

.one, .two, .three , .four, .five, .six{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding-bottom: 10px;
}

.mainOne > :nth-child(3){
        margin-top: 10px;
        padding-left: 10px;
        width: 250px;
        background-color:whitesmoke;
        border-left: solid yellow 6px;
        border-radius: 15px;
        
}

.mainOne > :nth-child(4){
        margin-top: 10px;
        padding-left: 10px;
        width: 250px;
        background-color:whitesmoke;
        border-left: solid yellow 6px;
        border-radius: 15px;
        margin-bottom: 10px;
        padding-right: 3px;
        
}

.mainTwo > :first-child{
        margin-left: 7px;
        margin-top: 40px;
        margin-right: 7px;
        padding-left: 10px;
        width: 240px;
        background-color:whitesmoke;
        border-left: solid yellow 6px;
        border-radius: 15px;
        padding-right: 3px;
        
}

