body{
        margin: 0;
}

.top-container{
        display:flex;
}

.dashboard{
        display: flex;
        flex-direction: column;
        width: 18vw;
        background-color: deepskyblue;
        color:whitesmoke;
        align-items: center;  
}

i:hover{
        color:black;
}


.dashboard > :nth-child(3){
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 20px;
       font-size: 23px; 
       padding-bottom: 20px;   
}

.dashboard > :nth-child(5){
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        font-size: 23px;
}

.dashboard > :first-child{
        font-size: 25px;
        padding-bottom: 20px;
}

.content-container{
        display: flex;
        flex-direction: column;
}

.content-container > .header-container{
        display:inline-grid;
        grid-template: repeat(3,50px) / repeat(7,100px);
        padding-left: 20px;
}

.search{
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top: 20px;
}

input{
        width:270px;
        background-color:silver;
        border-radius: 8px;
        border: azure;
}

.image-name{
        display: flex;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        column-gap: 15px;
}

.bell-name{
        display:flex;
        grid-column-start: 5;
        grid-column-end: 8;
        padding-top:20px;
        column-gap: 20px;

}